.messenger-container {
    display: block;
    flex-direction: row;
    height: 100vh;
  }
  
  .header {
    background-color: #3b5998;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .chat {
    display: flex;
    height: 91%;
    width: 110%;
  }
  
  .friends-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .friend {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .friend.selected {
    background-color: #3b5998;
    color: #fff;
    object-fit: cover;
  }
  
  .friend-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
  }
  
  .friend-name {
    font-size: 18px;
  }
  
  .message-container {
    width: 80%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .message-thread {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
    flex: 1;
  }
  
  .message-bubble {
    background-color: #3b5998;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    align-self: flex-start;
  }
  
  .sent {
    background-color: #f2f2f2;
    color: #333;
    align-self: flex-end;
  }
  
  form {
    display: flex;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  